#question {
  text-align: left;
  background-color: #eee;
}

main {
  position: relative;
  width: 100%;
}

.QuestionHeader {
  position: relative;
  /* min-width: 1032px; */
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.1);
  padding: 16px 150px;
}

.QuestionMain {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.QuestionMain-Inner {
  width: 70%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.QuestionMain-Inner-List-Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  margin: 0 20px;
  border-bottom: 1px solid #f6f6f6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.QuestionMain-Inner-List-Header > p {
  font-size: 14px;
  color: #8590a6;
}

.Aside {
  text-align: left;
  width: 28%;
  height: 100%;
  margin-left: 2%;
  background-color: #eee;
}

.hot-question:not(:first-child) {
  margin-top: 10px;
}

.hot-question a {
  word-break: break-word;
  display: inline;
  color: #175199;
}

.hot-question a:hover {
  border-bottom: 1px solid #175199;
}

.footer {
  padding: 10px 0 10px 5px;
  font-size: 13px;
  line-height: 2;
  color: #8590a6;
}

.Aside-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Aside-dot:after {
  margin: 0 5px;
  content: "\B7";
}

.OrgCreateButton {
  border: none;
  padding: 0;
}

.box-card-child {
  display: flex;
  align-content: flex-start;
  margin-bottom: 20px;
}

.box-card-child span {
  line-height: 1.2;
  margin-left: 12px;
}

.list-item-answer {
  position: relative;
  padding: 16px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  border: 1px solid #f0f0f0;
}

.list-item-answer-middle > div:first-child {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  margin-top: 0;
}

.list-item-answer-middle > div:first-child p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #646464;
  font-size: 14px;
}

.list-item-answer-middle > div:nth-child(2) {
  font-size: 14px;
  color: #8590a6;
}

.list-item-answer img {
  width: 42px;
  height: 42px;
  border: 0px solid white;
  border-radius: 3px;
  margin-right: 20px;
}

.list-item-content {
}

.list-item-answer-bottom {
  margin-top: 5px;
}

.el-button--medium.Vote-Button {
  padding: 10px 12px;
  margin-right: 14px;
}
