#search {
  text-align: left;
  background-color: #eee;
}

main {
  position: relative;
  width: 100%;
}

.SearchMain {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.SearchMain-Inner {
  width: 70%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.SearchMain-Inner-List-Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  margin: 0 20px;
  border-bottom: 1px solid #f6f6f6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.SearchMain-Inner-List-Header > p {
  font-size: 14px;
  color: #8590a6;
}

.Aside {
  text-align: left;
  width: 28%;
  height: 100%;
  margin-left: 2%;
  background-color: #eee;
}

.hot-question:not(:first-child) {
  margin-top: 10px;
}

.hot-question a {
  word-break: break-word;
  display: inline;
  color: #175199;
}

.hot-question a:hover {
  border-bottom: 1px solid #175199;
}

.footer {
  padding: 10px 0 10px 5px;
  font-size: 13px;
  line-height: 2;
  color: #8590a6;
}

.Aside-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Aside-dot:after {
  margin: 0 5px;
  content: "\B7";
}

.OrgCreateButton {
  border: none;
  padding: 0;
}

.box-card-child {
  display: flex;
  align-content: flex-start;
  margin-bottom: 20px;
}

.box-card-child span {
  line-height: 1.2;
  margin-left: 12px;
}

.list-item-answer {
  position: relative;
  padding: 16px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  border: 1px solid #f0f0f0;
}

.list-item-answer-middle > div:first-child {
  display: flex;
  align-items: center;
  margin: 5px 0px;
  margin-top: 0;
}

.list-item-answer-middle > div:first-child p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #646464;
  font-size: 14px;
}

.list-item-answer-middle > div:nth-child(2) {
  font-size: 14px;
  color: #8590a6;
}

.list-item-answer-middle time {
  font-size: 14px;
  color: #8590a6;
  line-height: 1.67;
}

.list-item-answer img {
  width: 42px;
  height: 42px;
  border: 0px solid white;
  border-radius: 3px;
  margin-right: 20px;
}

.list-item-content {
  padding-right: 10px;
  max-width: 100%;
  line-height: 1.67;
  font-size: 15px;
  color: #1a1a1a;
  -webkit-tap-highlight-color: rgba(26, 26, 26, 0);
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.list-item-answer-bottom {
  margin-top: 5px;
}

.el-button--medium.Vote-Button {
  padding: 10px 12px;
  margin-right: 14px;
}

.comment-dialog {
  text-align: left;
}

.comment-dialog > div:first-child {
  max-height: 530px;
}

.comment-dialog > div:first-child::-webkit-scrollbar {
  display: none;
}

.comment-dialog-inner {
  max-height: 412px;
  overflow-y: auto;
  overflow-x: hidden;
}

.comment-dialog .el-dialog__title {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  font-synthesis: style;
  color: #1a1a1a;
}

.comment-dialog .el-dialog__header {
  padding: 12px 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.comment-dialog .el-dialog__headerbtn {
  color: #fff;
  font-size: 24px;
  top: 15px;
  right: -45px;
}

.comment-dialog .el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}

.comment-dialog .el-dialog__headerbtn:hover .el-dialog__close {
  color: #fff;
}

.comment-dialog .el-dialog__body {
  padding: 0;
}

.comment {
  border-bottom: 1px solid #f6f6f6;
  padding: 12px 20px 10px;
  padding-bottom: 10px;
}

.comment-top {
  display: flex;
  justify-content: space-between;
}

.comment-top > div:first-child {
  display: flex;
  align-items: center;
}

.comment-top img {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  margin-right: 8px;
}

.comment-top span {
  font-size: 15px;
  color: rgb(26, 26, 26);
}

.comment-middle {
  margin: 8px 0;
  padding-left: 33px;
  color: rgb(26, 26, 26);
  font-size: 15px;
}

.comment-bottom {
  padding-left: 33px;
}

.comment-bottom .el-button {
  padding: 0;
}

.reply-input {
  padding-top: 10px;
  padding-left: 33px;
  display: flex;
  align-items: center;
}

.reply-input .el-button {
  padding: 0 16px;
  border: none;
  line-height: 33px;
  margin-left: 20px;
}

.comment-input {
  display: flex;
  align-items: center;
}

.comment-input .el-button {
  padding: 0 16px;
  border: none;
  line-height: 33px;
  margin-left: 20px;
}

.list-item-search {
  position: relative;
  padding: 16px 20px;
  text-align: left;
  display: flex;
  border: 1px solid #f0f0f0;
}

.list-item-search .list-item-search-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  -webkit-box-flex: 1;
  flex: 1 1;
}

.list-item-search .list-item-search-content > div {
  margin: 2px 0;
  width: 95%;
  overflow: hidden;
}

.list-item-search .list-item-search-content h2 {
  color: #1a1a1a;
  font-size: 18px;
  line-height: 28px;
  max-height: 56px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600;
}

.list-item-search .list-item-search-content p {
  color: #444;
  line-height: 25px;
  margin-top: 2px;
  min-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 50px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-item-search .list-item-search-content .list-item-search-bottom {
  display: flex;
  align-items: center;
}

.list-item-search-top a:hover h2 {
  color: #175199;
}
