#zhiyu {
  background-color: #eee;
  padding-bottom: 20px;
}

.App-main {
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

#zhiyuMain {
  width: 100%;
  /* height: 100%; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.el-tabs__nav-scroll {
  margin: 0 auto;
  padding-left: 16px;
}

#zhiyuMain1 {
  width: 70%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

#zhiyuMain2 {
  width: 28%;
  height: 100%;
  margin-left: 2%;
  /* background-color: #fff; */
  background-color: #eee;
}

#zhiyuMain1 .List-Header {
  margin: 0 20px;
  margin-top: -15px;
  border-bottom: 1px solid #eee;
  height: 49px;
  display: flex;
  align-items: center;
}

#zhiyuMain1 h4 {
  text-align: left;
}

.box-card-child {
  display: flex;
  align-content: flex-start;
  margin-bottom: 20px;
}

.box-card-child span {
  line-height: 1.2;
  margin-left: 12px;
}

.Footer {
  padding: 10px 0 10px 5px;
  font-size: 13px;
  line-height: 2;
  color: #8590a6;
  text-align: left;
}

.Footer-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Footer-dot:after {
  margin: 0 5px;
  content: "\B7";
}

.OrgCreateButton {
  border: none;
  padding: 0;
}

.list-item-follow {
  position: relative;
  padding: 16px 20px;
  text-align: left;
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0;
}

.list-item-follow img {
  width: 60px;
  height: 60px;
  border: 0px solid white;
  border-radius: 3px;
}

.list-item-follow .list-item-follow-middle {
  margin-left: 16px;
  flex: 1 1;
}

.list-item-follow .list-item-follow-middle h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.list-item-follow .list-item-follow-middle h3 {
  font-size: 15px;
  color: #646464;
}

.list-item-follow .list-item-follow-middle p {
  color: #8590a6;
  font-size: 14px;
}

.list-item-hot {
  position: relative;
  padding: 16px 20px;
  text-align: left;
  display: flex;
  border: 1px solid #f0f0f0;
}

.list-item-hot .list-item-hot-index {
  color: coral;
  font-size: x-large;
  font-weight: bolder;
  margin-right: 20px;
}

.list-item-hot .list-item-hot-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  -webkit-box-flex: 1;
  flex: 1 1;
}

.list-item-hot .list-item-hot-content > div {
  margin: 2px 0;
  width: 95%;
  overflow: hidden;
}

.list-item-hot .list-item-hot-content h2 {
  color: #1a1a1a;
  font-size: 18px;
  line-height: 28px;
  max-height: 56px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600;
}

.list-item-hot .list-item-hot-content p {
  color: #444;
  line-height: 25px;
  margin-top: 2px;
  min-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 50px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-item-hot .list-item-hot-content .list-item-hot-bottom {
  display: flex;
  align-items: center;
}

.list-item-recommend {
  position: relative;
  padding: 16px 20px;
  text-align: left;
  display: flex;
  border: 1px solid #f0f0f0;
}

.list-item-recommend .list-item-recommend-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  -webkit-box-flex: 1;
  flex: 1 1;
}

.list-item-recommend .list-item-recommend-content > div {
  margin: 2px 0;
  width: 95%;
  overflow: hidden;
}

.list-item-recommend .list-item-recommend-content h2 {
  color: #1a1a1a;
  font-size: 18px;
  line-height: 28px;
  max-height: 56px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 600;
}

.list-item-recommend .list-item-recommend-content p {
  color: #444;
  line-height: 25px;
  margin-top: 2px;
  min-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 50px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-item-recommend .list-item-recommend-content .list-item-recommend-bottom {
  display: flex;
  align-items: center;
}

.list-item-recommend-top a:hover h2 {
  color: #175199;
}

.el-button--medium.Vote-Button {
  padding: 10px 12px;
  margin-right: 14px;
}
