<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <!-- 若安装了chrome frame则使用chrome内核渲染，否则使用IE的最高版本 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="UTF-8" />
  <title>写回答 - 知裕</title>
  <link href="../css/common.css" rel="stylesheet" type="text/css" />
  <link href="../css/header.css" rel="stylesheet" type="text/css" />
  <link href="../css/answer.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../editor.md-master/css/editormd.css" />
  <link rel="stylesheet" href="../css/index.css" />
  <link rel="icon" type="image/x-icon" href="../img/icon.ico" />
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="answer">
    <header role="banner" class="AppHeader">
      <div class="AppHeader-inner">
        <a href="zhiyu.html"><img src="../img/logo.png" /></a>
        <ul role="navigation" class="AppHeader-tabs">
          <li><a href="zhiyu.html">首页</a></li>
          <li><a href="#">发现</a></li>
          <li><a href="#">等你来答</a></li>
          <li>
            <el-input v-model="questionAsked" placeholder="搜索你的问题" size="small" class="inlist-block"></el-input>
          </li>
          <li>
            <el-button type="primary" class="inlist-block" size="small" @click="isShowAsk = true">
              提问
            </el-button>
          </li>
        </ul>
        <el-dropdown @command="handleCommand">
          <div class="el-dropdown-link AppHeader-inner-avatar">
            <img :src="myUserAvatarURL" />
          </div>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="a">我的主页</el-dropdown-item>
            <el-dropdown-item command="b">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </header>
    <main role="main" class="App-main">
      <div class="QuestionHeader">
        <div class="QuestionHeader-content">
          <h1>{{question}}</h1>
          <p>{{description}}</p>
        </div>
        <div class="QuestionHeader-footer">
          <el-button type="primary" size="medium">关注问题</el-button>
          <el-button type="primary" size="medium" plain @click="toAnswer">写回答</el-button>
          <el-button type="text" style="color: #8590a6;" @click="likeQuestion">
            <span style="display: inline-flex; align-items: center;">​<svg fill="currentColor" viewBox="0 0 24 24"
                width="1.2em" height="1.2em">
                <path d="M14.445 9h5.387s2.997.154 1.95 3.669c-.168.51-2.346 6.911-2.346 6.911s-.763
                  1.416-2.86 1.416H8.989c-1.498 0-2.005-.896-1.989-2v-7.998c0-.987.336-2.032
                  1.114-2.639 4.45-3.773 3.436-4.597 4.45-5.83.985-1.13 3.2-.5 3.037 2.362C15.201
                  7.397 14.445 9 14.445 9zM3 9h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V10a1 1
                  0 0 1 1-1z" fill-rule="evenodd"></path>
              </svg></span>
            好问题
          </el-button>
        </div>
      </div>

      <div class="AnswerMain">
        <div class="Answer-add">
          <div id="layout" class="editor">
            <div id="test-editormd">
              <textarea class="editormd-markdown-textarea" name="test-editormd-markdown-doc" id="content"></textarea>
              <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
              <textarea class="editormd-html-textarea" name="editormd-html-textarea" id="htmlContent"></textarea>
            </div>
          </div>
          <div>
            <button id="submitButton">提交</button>
          </div>
          <!-- <div id="test">
            <div id="test-editormd-view">
            </div>
          </div> -->
        </div>
        <aside class="Aside">
          <div>
            <el-card class="box-card">
              <div slot="header" class="clearfix" style="text-align: left;">
                <span>相关问题</span>
              </div>
              <div class="box-card-child">
                <svg fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em">
                  <path d="M14.445 9h5.387s2.997.154 1.95 3.669c-.168.51-2.346 6.911-2.346 6.911s-.763
                    1.416-2.86 1.416H8.989c-1.498 0-2.005-.896-1.989-2v-7.998c0-.987.336-2.032 1.114-2.639
                    4.45-3.773 3.436-4.597 4.45-5.83.985-1.13 3.2-.5 3.037 2.362C15.201 7.397 14.445 9
                    14.445 9zM3 9h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1z"
                    fill-rule="evenodd"></path>
                </svg>
                <span>获得22次赞同</span>
              </div>
              <div class="box-card-child">
                <svg fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em">
                  <path
                    d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10
                        10zm4.043-15.524a.745.745 0 0 0-1.053.017l-6.857 7.071 2.237 2.17 6.857-7.071a.743.743 0
                        0 0-.016-1.052l-1.168-1.135zm-9.028 9.476l-.348 1.381 1.37-.39 1.274-.36-1.973-1.916-.323 1.285z"
                    fill-rule="evenodd"></path>
                </svg>
                <span>提出3个问题</span>
              </div>
            </el-card>
          </div>
          <div class="footer">
            <a class="Aside-item">刘看水</a><span class="Aside-dot"></span><a class="Aside-item">流星花园</a><span
              class="Aside-dot"></span><a class="Aside-item">知裕协议</a><span class="Aside-dot"></span><a
              class="Aside-item">知裕隐私保护指引</a><br /><a class="Aside-item">应用</a><span class="Aside-dot"></span><a
              class="Aside-item">工作</a><span class="Aside-dot"></span><button type="button"
              class="Button OrgCreateButton">
              申请开通知裕机构号</button><br /><a class="Aside-item">侵权举报</a><span class="Aside-dot"></span><a
              class="Aside-item">网上有害信息举报专区</a><br /><a class="Aside-item">粤 ABC 证 123456 号</a><br /><a
              class="Aside-item">粤
              ABC 备 123456 号 - 1</a><br /><a class="Aside-item"><img
                src="https://pic3.zhimg.com/80/v2-d0289dc0a46fc5b15b3363ffa78cf6c7.png" />粤流星花园 12345678901
              号</a><br /><span class="Aside-item">互联网药品信息服务资格证书<br />（粤）- 非经营性 - 2017 -
              0067</span><span class="Aside-item">违法和不良信息举报：123-4567890</span><br /><a
              class="Aside-item">信息举报专区</a><br /><a class="Aside-item">证照中心</a><br /><a
              class="Aside-item">联系我们</a><span>
              © 2020 知裕</span>
          </div>
        </aside>
      </div>
    </main>

    <el-dialog title="提问" :visible.sync="isShowAsk">
      <el-form :model="form">
        <el-form-item label="问题" :label-width="formLabelWidth">
          <el-input v-model="form.question" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="描述" :label-width="formLabelWidth">
          <el-input type="textarea" :rows="3" v-model="form.description" resize="none" autocomplete="off">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="isShowAsk = false">取 消</el-button>
        <el-button type="primary" @click="submitQuestion">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</body>

<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://apps.bdimg.com/libs/jquery/3.5.1/jquery.min.js">
</script>
<script src="http://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
<script src="../editor.md-master/lib/marked.min.js"> </script>
<script src="../editor.md-master/lib/prettify.min.js"></script>
<script src="../editor.md-master/lib/raphael.min.js"></script>
<script src="../editor.md-master/lib/underscore.min.js"></script>
<script src="../editor.md-master/lib/sequence-diagram.min.js"></script>
<script src="../editor.md-master/lib/flowchart.min.js"></script>
<script src="../editor.md-master/lib/jquery.flowchart.min.js"></script>
<script src="../editor.md-master/editormd.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/initInfo.js"></script>
<script src="../js/answer.js"></script>

</html>
