<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <!-- 若安装了chrome frame则使用chrome内核渲染，否则使用IE的最高版本 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="UTF-8" />
  <title>个人主页 - 知裕</title>
  <link href="../css/common.css" rel="stylesheet" type="text/css" />
  <link href="../css/homepage.css" rel="stylesheet" type="text/css" />
  <link href="../css/header.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../css/index.css" />
  <link rel="icon" type="image/x-icon" href="../img/icon.ico" />
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="homepage">
    <header role="banner" class="AppHeader">
      <div class="AppHeader-inner">
        <a href="zhiyu.html"><img src="../img/logo.png" /></a>
        <ul role="navigation" class="AppHeader-tabs">
          <li><a href="zhiyu.html">首页</a></li>
          <li><a href="#">发现</a></li>
          <li><a href="#">等你来答</a></li>
          <li>
            <el-input v-model="questionAsked" placeholder="搜索你的问题" size="small" class="inlist-block"></el-input>
          </li>
          <li>
            <el-button type="primary" class="inlist-block" size="small" @click="isShowAsk = true">
              提问
            </el-button>
          </li>
        </ul>
        <div class="dmDiv">
          <el-dropdown trigger="click">
            <button class="dmButton" aria-haspopup="true" aria-expanded="false" aria-owns="dmButton-content"
              type="button">
              <el-badge :value="uncheckedNums" class="item" :hidden="uncheckedNums===0">
                <span style="display: inline-flex; align-items: center;">​
                  <svg fill="currentColor" viewBox="0 0 24 24" width="22" height="22">
                    <path d="M11 2c5.571 0 9 4.335 9 8 0 6-6.475 9.764-11.481 8.022-.315-.07-.379-.124-.78.078-1.455.54-2.413.921-3.525
                1.122-.483.087-.916-.25-.588-.581 0 0 .677-.417.842-1.904.064-.351-.14-.879-.454-1.171A8.833 8.833
                0 0 1 2 10c0-3.87 3.394-8 9-8zm10.14 9.628c.758.988.86 2.009.86 3.15 0 1.195-.619 3.11-1.368
                3.938-.209.23-.354.467-.308.722.12 1.073.614 1.501.614
                1.501.237.239-.188.562-.537.5-.803-.146-1.495-.42-2.546-.811-.29-.146-.336-.106-.563-.057-2.043.711-4.398.475-6.083-.927
                 5.965-.524 8.727-3.03 9.93-8.016z" fill-rule="evenodd">
                    </path>
                  </svg>
                </span>
              </el-badge>
            </button>
            <el-dropdown-menu slot="dropdown" class="dm-menu" style="padding: 0">
              <div class="dm-header" role="tablist">
                <button type="button" class="dm-header-button">我的私信</button>
              </div>
              <list-item-dm v-for="item in dmList" :item="item" :my_username="myUsername" :key="item.nickname">
              </list-item-dm>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
        <el-dropdown trigger="click" @command="handleCommand">
          <div class="el-dropdown-link AppHeader-inner-avatar">
            <img :src="myUserAvatarURL" />
          </div>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="a">我的主页</el-dropdown-item>
            <el-dropdown-item command="b">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </header>
    <main role="main" class="App-main">
      <div id="profileHeader">
        <div id="profileHeader-userCover"></div>
        <div id="profileHeader-content">
          <div class="userAvatar">
            <img :src="userAvatarURL" />
          </div>
          <h1>{{username}}</h1>
          <p>所在行业 &nbsp;&nbsp;&nbsp;{{userIndustry}}</p>
          <div class="button-container" v-if="isMe">
            <el-button type="primary" @click="editProfile">编辑个人资料</el-button>
          </div>
          <div class="button-container" v-if="!isMe">
            <el-button type="primary" v-if="!following" @click="follow">关注</el-button>
            <el-button type="info" v-if="following" @click="cancleFollow" onmouseover="this.innerText='取消关注'"
              onmouseout="this.innerText='已关注'">
              已关注
            </el-button>
            <!-- <el-button type="primary">关注</el-button> -->
            <el-button type="primary">私信</el-button>
          </div>
        </div>
      </div>
      <div id="profileMain">
        <div id="profileMain1">
          <div id="profileMain1-header">
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="动态" name="activity">
                <div class="List-Header">
                  <h4 class="List-HeaderText">{{username}}的动态</h4>
                </div>
              </el-tab-pane>
              <el-tab-pane label="回答" name="answer">
                <div class="List-Header">
                  <h4 class="List-HeaderText">{{username}}的回答</h4>
                </div>
              </el-tab-pane>
              <el-tab-pane label="提问" name="ask">
                <div class="List-Header">
                  <h4 class="List-HeaderText">{{username}}的提问</h4>
                </div>
              </el-tab-pane>
              <el-tab-pane label="关注" name="follow">
                <div class="List-Header">
                  <h4 class="List-HeaderText">{{username}}的关注</h4>
                </div>
              </el-tab-pane>
              <el-tab-pane label="粉丝" name="fan">
                <div class="List-Header">
                  <h4 class="List-HeaderText">{{username}}的粉丝</h4>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>
          <div id="profileMain1-main">
            <list-item-answer v-for="item in answers" :item="item" v-show="activeName==='answer'">
            </list-item-answer>
            <list-item-ask v-for="item in asks" :item="item" v-show="activeName==='ask'">
            </list-item-ask>
            <list-item-follow v-for="item in followings" :item="item" v-show="activeName==='follow'"
              :key="item.nickname">
            </list-item-follow>
            <div class="follow-ListPage" v-show="activeName==='follow'">
              <el-pagination @current-change="followHandleCurrentChange" :current-page="followCurrentPage"
                :page-size="PageSize" layout="prev, pager, next" :total="follows">
              </el-pagination>
            </div>
            <list-item-follow v-for="item in fans" :item="item" v-show="activeName==='fan'">
            </list-item-follow>
            <div class="fan-ListPage" v-show="activeName==='fan'">
              <el-pagination @current-change="fanHandleCurrentChange" :current-page="fanCurrentPage"
                :page-size="PageSize" layout="prev, pager, next" :total="followers">
              </el-pagination>
            </div>
          </div>
        </div>
        <div id="profileMain2">
          <div>
            <el-card class="box-card">
              <div slot="header" class="clearfix" style="text-align: left;">
                <span>个人成就</span>
              </div>
              <div class="box-card-child">
                <svg fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em">
                  <path d="M14.445 9h5.387s2.997.154 1.95 3.669c-.168.51-2.346 6.911-2.346 6.911s-.763
                    1.416-2.86 1.416H8.989c-1.498 0-2.005-.896-1.989-2v-7.998c0-.987.336-2.032 1.114-2.639
                    4.45-3.773 3.436-4.597 4.45-5.83.985-1.13 3.2-.5 3.037 2.362C15.201 7.397 14.445 9
                    14.445 9zM3 9h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1z"
                    fill-rule="evenodd"></path>
                </svg>
                <span>获得{{voteNum}}次赞同</span>
              </div>
              <div class="box-card-child">
                <svg fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em">
                  <path
                    d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10
                        10zm4.043-15.524a.745.745 0 0 0-1.053.017l-6.857 7.071 2.237 2.17 6.857-7.071a.743.743 0
                        0 0-.016-1.052l-1.168-1.135zm-9.028 9.476l-.348 1.381 1.37-.39 1.274-.36-1.973-1.916-.323 1.285z"
                    fill-rule="evenodd"></path>
                </svg>
                <span>提出{{questionNum}}个问题</span>
              </div>
            </el-card>
          </div>
          <div class="NumberBoard">
            <el-button-group>
              <el-button plain @click="seeFollow">
                <div class="NumberBoard-itemInner">
                  <div class="NumberBoard-itemName">
                    关注了
                  </div>
                  <strong class="NumberBoard-itemValue">
                    {{follows}}
                  </strong>
                </div>
              </el-button>
              <el-button plain @click="seeFan">
                <div class="NumberBoard-itemInner">
                  <div class="NumberBoard-itemName">
                    关注者
                  </div>
                  <strong div class="NumberBoard-itemValue">
                    {{followers}}
                  </strong>
                </div>
              </el-button>
            </el-button-group>
          </div>

          <footer class="Footer">
            <div>
              <el-button type="text" plain :disabled="isMe" @click="defriend">屏蔽用户</el-button>
              <span class="Footer-dot"></span>
              <el-button type="text" plain :disabled="isMe" @click="cancleDefriend">取消屏蔽用户</el-button>
            </div>
            <a class="Footer-item">刘看水</a><span class="Footer-dot"></span><a class="Footer-item">流星花园</a><span
              class="Footer-dot"></span><a class="Footer-item">知裕协议</a><span class="Footer-dot"></span><a
              class="Footer-item">知裕隐私保护指引</a><br /><a class="Footer-item">应用</a><span class="Footer-dot"></span><a
              class="Footer-item">工作</a><span class="Footer-dot"></span><button type="button"
              class="Button OrgCreateButton">
              申请开通知裕机构号</button><br /><a class="Footer-item">侵权举报</a><span class="Footer-dot"></span><a
              class="Footer-item">网上有害信息举报专区</a><br /><a class="Footer-item">粤 ABC 证 123456 号</a><br /><a
              class="Footer-item">粤 ABC 备 123456 号 - 1</a><br /><a class="Footer-item"><img
                src="https://pic3.zhimg.com/80/v2-d0289dc0a46fc5b15b3363ffa78cf6c7.png" />粤流星花园 12345678901
              号</a><br /><span class="Footer-item">互联网药品信息服务资格证书<br />（粤）- 非经营性 - 2017 -
              0067</span><span class="Footer-item">违法和不良信息举报：123-4567890</span><br /><a
              class="Footer-item">信息举报专区</a><br /><a class="Footer-item">证照中心</a><br /><a
              class="Footer-item">联系我们</a><span> © 2020 知裕</span>
          </footer>
        </div>
      </div>
    </main>

    <el-dialog title="提问" :visible.sync="isShowAsk">
      <el-form :model="form">
        <el-form-item label="问题" :label-width="formLabelWidth">
          <el-input v-model="form.question" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="描述" :label-width="formLabelWidth">
          <el-input type="textarea" :rows="3" v-model="form.description" resize="none" autocomplete="off">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="isShowAsk = false">取 消</el-button>
        <el-button type="primary" @click="submitQuestion">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</body>


<template id="list-item-follow">
  <div class="list-item-follow" v-if="refresh">
    <div class="list-item-follow-left">
      <div>
        <!-- <img :src="'http://47.100.62.222:80'+item.avatar"> -->
        <img :src="item.avatar">
      </div>
    </div>
    <div class="list-item-follow-middle">
      <h2>
        <a @click="toUserHomepage(item)" href="../html/homepage.html">
          {{item.nickname}}
        </a></h2>
      <h3>{{item.brief}}</h3>
      <p>{{item.answersCount}} 回答 · {{item.followersCount}} 关注者 </p>
    </div>
    <div class="list-item-follow-right">
      <el-button type="primary" v-if="!item.following" @click="follow(item)">关注</el-button>
      <el-button type="info" v-if="item.following" @click="cancleFollow(item)" onmouseover="this.innerText='取消关注'"
        onmouseout="this.innerText='已关注'">
        已关注
      </el-button>
    </div>
  </div>
</template>

<template id="list-item-answer">
  <div class="list-item-answer">
    <div class="list-item-answer-top">
      <a @click="toQuestion(item.id)" :title="item.title" href="../html/question.html">
        <h2 class="list-item-title">{{item.title}}</h2>
      </a>
    </div>
    <div class="list-item-answer-middle">
      <div>
        <img :src="item.avatar">
        <div>
          <h4>{{item.nickname}}</h4>
          <p>{{item.brief}}</p>
        </div>
      </div>
      <div>{{item.voteNum}}人也赞同了该回答</div>
      <div>
        <p class="list-item-content">{{item.content}}</p>
      </div>
    </div>
    <div class="list-item-answer-bottom">
      <el-button type="primary" v-if="!item.isFollowing" @click="vote(item)" size="medium" class="Vote-Button">
        <span style="display: inline-flex; align-items: center;">​<svg style="margin-right: 5px;" fill="currentColor"
            viewBox="0 0 24 24" width="10" height="10">
            <path
              d="M2 18.242c0-.326.088-.532.237-.896l7.98-13.203C10.572 3.57 11.086 3 12 3c.915 0 1.429.571 1.784 1.143l7.98 13.203c.15.364.236.57.236.896 0 1.386-.875 1.9-1.955 1.9H3.955c-1.08 0-1.955-.517-1.955-1.9z"
              fill-rule="evenodd"></path>
          </svg></span>
        赞同 {{item.voteNum}}
      </el-button>
      <el-button type="text" style="color: #8590a6;">
        <span style="display: inline-flex; align-items: center;">​<svg style="margin-right: 1px;" fill="currentColor"
            viewBox="0 0 24 24" width="1.2em" height="1.2em">
            <path
              d="M10.241 19.313a.97.97 0 0 0-.77.2 7.908 7.908 0 0 1-3.772 1.482.409.409 0 0 1-.38-.637 5.825 5.825 0 0 0 1.11-2.237.605.605 0 0 0-.227-.59A7.935 7.935 0 0 1 3 11.25C3 6.7 7.03 3 12 3s9 3.7 9 8.25-4.373 9.108-10.759 8.063z"
              fill-rule="evenodd"></path>
          </svg></span>
        {{item.commentNum}}条评论
      </el-button>
    </div>
  </div>
</template>

<template id="list-item-ask">
  <div class="list-item-ask list-item">
    <div class="list-item-ask-top">
      <a @click="toQuestion(item.id)" :title="item.title" href="../html/question.html">
        <h2 class="list-item-title">{{item.title}}</h2>
      </a>
    </div>
    <div class="list-item-ask-bottom">
      <span>{{item.time}} ·</span>
      <span>&nbsp;{{item.answersCount}} 个回答</span>
    </div>
  </div>
</template>

<template id="list-item-dm">
  <div class="list-item-dm">
    <div class="list-item-dm-inner" @click="openDmDialog(item.senderId)">
      <div class="list-item-dm-left">
        <div>
          <img :src="item.avatar">
        </div>
      </div>
      <div class="list-item-dm-middle">
        <h4>{{item.nickname}}</h4>
        <p>亲爱的 {{my_username}} 你好：你有{{item.uncheckedNums}}条私信未查看</p>
      </div>
    </div>
    <el-dialog :title="item.nickname" :visible.sync="isShowDmDialog" :append-to-body="true">
      <div v-for="message in messages">
        <time>{{message.datetime}}</time>
        <div :class="[message.me===1?'me-message':'the-other-message','message-box']">
          <img :src="theOther.avatar" v-if="message.me===0">
          <img :src="me.avatar" v-if="message.me===1">
          <p>{{message.content}}</p>
        </div>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-form :model="form">
          <el-form-item>
            <el-input type="textarea" :rows="3" v-model="form.content" resize="none" autocomplete="off">
            </el-input>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click="sendDm(item.senderId)">发送</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/initInfo.js"></script>
<script src="../js/homepage.js"></script>

</html>
