<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <!-- 若安装了chrome frame则使用chrome内核渲染，否则使用IE的最高版本 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="UTF-8" />
  <title>个人主页 - 知裕</title>
  <link href="../css/common.css" rel="stylesheet" type="text/css" />
  <link href="../css/zhiyu.css" rel="stylesheet" type="text/css" />
  <link href="../css/header.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="../css/index.css" />
  <link rel="icon" type="image/x-icon" href="../img/icon.ico" />
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="zhiyu">
    <header role="banner" class="AppHeader">
      <div class="AppHeader-inner">
        <a href="zhiyu.html"><img src="../img/logo.png" /></a>
        <ul role="navigation" class="AppHeader-tabs">
          <li><a href="zhiyu.html">首页</a></li>
          <li><a href="#">发现</a></li>
          <li><a href="#">等你来答</a></li>
          <li>
            <el-input v-model="questionAsked" placeholder="搜索你的问题" size="small" class="inlist-block"></el-input>
          </li>
          <li>
            <el-button type="primary" class="inlist-block" size="small" @click="isShowAsk = true">
              提问
            </el-button>
          </li>
        </ul>
        <el-dropdown @command="handleCommand">
          <div class="el-dropdown-link AppHeader-inner-avatar">
            <img :src="myUserAvatarURL" />
          </div>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="a">我的主页</el-dropdown-item>
            <el-dropdown-item command="b">退出</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <!-- <a href="../html/homepage.html" class="AppHeader-inner-avatar"
          onclick="window.localStorage.setItem('userId', myUserId);">
          <img :src="myUserAvatarURL" />
        </a> -->
      </div>
    </header>
    <main role="main" class="App-main">
      <div id="zhiyuMain">
        <div id="zhiyuMain1">
          <div id="zhiyuMain1-header">
            <el-tabs v-model="activeName" @tab-click="handleClick">
              <el-tab-pane label="推荐" name="recommend">
                <div class="List-Header">
                  <h4 class="List-HeaderText">推荐</h4>
                </div>
              </el-tab-pane>
              <el-tab-pane label="热榜" name="hot">
                <div class="List-Header">
                  <h4 class="List-HeaderText">热榜</h4>
                </div>
              </el-tab-pane>
              <el-tab-pane label="关注" name="follow">
                <div class="List-Header">
                  <h4 class="List-HeaderText">关注</h4>
                </div>
              </el-tab-pane>
              <el-tab-pane label="粉丝" name="fan">
                <div class="List-Header">
                  <h4 class="List-HeaderText">粉丝</h4>
                </div>
              </el-tab-pane>
            </el-tabs>
          </div>
          <div id="zhiyuMain1-main">
            <list-item-hot v-for="(item,index) in hots" :item="item" :index="index" v-show="activeName==='hot'"
              :key="item.title">
            </list-item-hot>
            <list-item-follow v-for="item in followings" :item="item" v-show="activeName==='follow'"
              :key="item.nickname">
            </list-item-follow>
            <list-item-follow v-for="item in fans" :item="item" v-show="activeName==='fan'">
            </list-item-follow>
          </div>
        </div>
        <div id="zhiyuMain2">
          <div>
            <el-card class="box-card">
              <div slot="header" class="clearfix" style="text-align: left;">
                <span>个人成就</span>
              </div>
              <div class="box-card-child">
                <svg fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em">
                  <path d="M14.445 9h5.387s2.997.154 1.95 3.669c-.168.51-2.346 6.911-2.346 6.911s-.763
                    1.416-2.86 1.416H8.989c-1.498 0-2.005-.896-1.989-2v-7.998c0-.987.336-2.032 1.114-2.639
                    4.45-3.773 3.436-4.597 4.45-5.83.985-1.13 3.2-.5 3.037 2.362C15.201 7.397 14.445 9
                    14.445 9zM3 9h2a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V10a1 1 0 0 1 1-1z"
                    fill-rule="evenodd"></path>
                </svg>
                <span>获得{{voteNum}}次赞同</span>
              </div>
              <div class="box-card-child">
                <svg fill="currentColor" viewBox="0 0 24 24" width="1.2em" height="1.2em">
                  <path
                    d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10
                        10zm4.043-15.524a.745.745 0 0 0-1.053.017l-6.857 7.071 2.237 2.17 6.857-7.071a.743.743 0
                        0 0-.016-1.052l-1.168-1.135zm-9.028 9.476l-.348 1.381 1.37-.39 1.274-.36-1.973-1.916-.323 1.285z"
                    fill-rule="evenodd"></path>
                </svg>
                <span>提出{{questionNum}}个问题</span>
              </div>
            </el-card>
          </div>

          <footer class="Footer">
            <a class="Footer-item">刘看水</a><span class="Footer-dot"></span><a class="Footer-item">流星花园</a><span
              class="Footer-dot"></span><a class="Footer-item">知裕协议</a><span class="Footer-dot"></span><a
              class="Footer-item">知裕隐私保护指引</a><br /><a class="Footer-item">应用</a><span class="Footer-dot"></span><a
              class="Footer-item">工作</a><span class="Footer-dot"></span><button type="button"
              class="Button OrgCreateButton">
              申请开通知裕机构号</button><br /><a class="Footer-item">侵权举报</a><span class="Footer-dot"></span><a
              class="Footer-item">网上有害信息举报专区</a><br /><a class="Footer-item">粤 ABC 证 123456 号</a><br /><a
              class="Footer-item">粤 ABC 备 123456 号 - 1</a><br /><a class="Footer-item"><img
                src="https://pic3.zhimg.com/80/v2-d0289dc0a46fc5b15b3363ffa78cf6c7.png" />粤流星花园 12345678901
              号</a><br /><span class="Footer-item">互联网药品信息服务资格证书<br />（粤）- 非经营性 - 2017 -
              0067</span><span class="Footer-item">违法和不良信息举报：123-4567890</span><br /><a
              class="Footer-item">信息举报专区</a><br /><a class="Footer-item">证照中心</a><br /><a
              class="Footer-item">联系我们</a><span> © 2020 知裕</span>
          </footer>
        </div>
      </div>
    </main>

    <el-dialog title="提问" :visible.sync="isShowAsk">
      <el-form :model="form">
        <el-form-item label="问题" :label-width="formLabelWidth">
          <el-input v-model="form.question" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="描述" :label-width="formLabelWidth">
          <el-input type="textarea" :rows="3" v-model="form.description" resize="none" autocomplete="off">
          </el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="isShowAsk = false">取 消</el-button>
        <el-button type="primary" @click="submitQuestion">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</body>


<template id="list-item-follow">
  <div class="list-item-follow">
    <div class="list-item-follow-left">
      <div>
        <img :src="'http://47.100.62.222:80'+item.avatar">
      </div>
    </div>
    <div class="list-item-follow-middle">
      <h2>
        <a @click="toUserHomepage(item)" href="../html/homepage.html">
          {{item.nickname}}
        </a></h2>
      <h3>{{item.brief}}</h3>
      <p>{{item.answersCount}} 回答 · {{item.followersCount}} 关注者 </p>
    </div>
    <div class="list-item-follow-right">
      <el-button type="primary" v-if="!item.following" @click="follow(item)">关注</el-button>
      <el-button type="info" v-if="item.following" @click="cancleFollow(item)" onmouseover="this.innerText='取消关注'"
        onmouseout="this.innerText='已关注'">
        已关注
      </el-button>
    </div>
  </div>
</template>

<template id="list-item-hot">
  <section class="list-item-hot">
    <div class="list-item-hot-index">
      <div>{{index+1}}</div>
    </div>
    <div class="list-item-hot-content">
      <div class="list-item-hot-top">
        <h2>{{item.title}}</h2>
      </div>
      <div class="list-item-hot-middle">
        <div>
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="list-item-hot-bottom">
        <svg fill="currentColor" viewBox="0 0 24 24" width="18" height="18">
          <defs>
            <linearGradient id="id-2014200654-a" x1="63.313%" x2="46.604%" y1="-13.472%" y2="117.368%">
              <stop offset="2.35%" stop-color="#EC471E"></stop>
              <stop offset="100%" stop-color="#FF6DC4"></stop>
            </linearGradient>
          </defs>
          <path fill="url(#id-2014200654-a)"
            d="M14.553 20.78c.862-.651 1.39-1.792 1.583-3.421.298-2.511-.656-4.904-2.863-7.179.209 2.291.209 3.73 0 4.314-.41 1.143-1.123 1.983-1.91 2.03-1.35.079-2.305-.512-2.863-1.774-.676 1.25-.782 2.556-.318 3.915.31.906.94 1.684 1.89 2.333C7.144 20.131 5 17.336 5 14.022c0-2.144.898-4.072 2.325-5.4.062 2.072.682 3.598 2.13 4.822-.67-1.112-.734-2.11-.734-3.517 0-3.253 2.067-6.007 4.913-6.927a7.35 7.35 0 0 0 2.157 4.918C17.722 9.214 19 11.463 19 14.022c0 3.073-1.844 5.7-4.447 6.758z"
            fill-rule="evenodd"></path>
        </svg>
        <span>{{item.voteNum}}热度</span>
      </div>
    </div>
  </section>
</template>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@2.13.2/lib/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/common.js"></script>
<script src="../js/initInfo.js"></script>
<script src="../js/zhiyu.js"></script>

</html>
